<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106541207-1"></script>
    
    <script src="http://duostats.gg/static/js/sorttable.js"></script>	
    
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106541207-1');
    </script>
    <title>DuoStats.gg</title>

    <link rel="stylesheet" type="text/css" href="http://duostats.gg/static/css/bootstrap.min.css?version=9">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://duostats.gg/static/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/png" href="http://duostats.gg/static/fav.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


  </head>

<style>
body {
        background-image: url("http://duostats.gg/static/backg.png");
	background-size: 100%;
} 
 
</style>

  <body bgcolor="#FFFFFF">
  <div>

  <a href="/">Home</a>&nbsp
  <a href="/about">About</a>&nbsp
  <a href="/contact">Contact</a>
  <a href="/synergy">*NEW* Champion Synergy Reports</a>

  </div>


    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>