<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div align="center"><font size="+4">League of Legends</font><br><img src="http://duostats.gg/static/ds.jpg" height="76" width="355"></img><br>Season and Preseason 8 now work! Praise Rito!</div>
  <form align="center" action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Your summoner name:<br>
          {{ form.summoner1(size=20) }}<br>
          {% for error in form.summoner1.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>
          Partner's summoner name:<br>
          {{ form.summoner2(size=20) }}<br>
          {% for error in form.summoner2.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>

      <p>{{ form.region }} Select Region</p>
      <p>{{ form.queue }} Select Queue Type</p>
      <p>{{ form.season }} Select Season</p>
      <p><input type="submit" value="Search"></p>
  </form>
{% endblock %}