<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1><img src="http://duostats.gg/static/ds.jpg" height="105" width="493" align="center"></h1>
  <div align="center">Flex Queue now available!</div>
  <form align="center" action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Your summoner name:<br>
          {{ form.summoner1(size=20) }}<br>
          {% for error in form.summoner1.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>
          Partner's summoner name:<br>
          {{ form.summoner2(size=20) }}<br>
          {% for error in form.summoner2.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>

      <p><input type="submit" value="Sign In"></p>
      <p>{{ form.region }} Select Region</p>
      <p>{{ form.queue }} Select Queue Type</p>
      <p>{{ form.season }} Select Season</p>
  </form>
{% endblock %}