{% extends "base.html" %}
{% block content %}


    <table class="minimalistBlack sortable">
    <thead>

    <tr>
    
    <th><font size="3">{{ user.nickname }}</font></th>
    <th><font size="3">{{ user.nickname2 }}</font></th>
    <th><font size="3">Played</font></th>
    <th><font size="3">Win %</font></th>
   
    </tr>
    

    <tr>	

    <th bgcolor="#CFCFCF"></th>
    <th bgcolor="#CFCFCF">Total: </th>
    <th bgcolor="#CFCFCF">{{ user.gamecount }}</th>
    <th bgcolor="#CFCFCF">{{ user.duowinpercent }}%</th>

    </tr>

    </thead>

    <tbody>		

    {% for post in posts %} 

    
    <tr>

    <td><img src="http://duostats.gg/static/{{ post.champnumber1 }}.png" alt="{{ post.champ }}" height="60" width="60"></img><br><p>{{ post.kda1commonoutput }}<br>{{ post.kda1commonoutput2 }}</p></td>
    <td><img src="http://duostats.gg/static/{{ post.champnumber2 }}.png" alt="{{ post.champ2 }}" height="60" width="60"></img><br><p>{{ post.kda2commonoutput }}<br>{{ post.kda2commonoutput2 }}</p></td>
    <td>{{ post.gpcommonoutput }}</td>
    <td>{{ post.commonwroutput }}%</td>
     
    </tr>	

    {% endfor %}
    
    
    </tbody>
    </table>

{% endblock %}

